@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GridLayoutPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">@Model.Header</h1>
    </div>
</section>

<section class="content p-5">
    <div class="container">
        @Html.GetGridHtml(Model, "mainContent")
    </div>
</section>