@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using Umbraco.Web
@{ var selection = Model.Root().Children.Where(x => x.IsVisible()).ToArray(); }

@if (selection.Length > 0)
{
    <ul class="navbar-nav">
        @foreach (var item in selection)
        {
            <li class="nav-item @(item.IsAncestorOrSelf(Model) ? "active" : null)">
                <a class="nav-link" href="@item.Url">@item.Name</a>
            </li>
        }
    </ul>
}
